# تجاهل كل فولدرات الأنظمة
android/** linguist-vendored
ios/** linguist-vendored
windows/** linguist-vendored
macos/** linguist-vendored
linux/** linguist-vendored
web/** linguist-vendored

# ركّز على Dart
*.dart linguist-detectable=true


