# تجاهل كل منصات النظام (عشان ما تتحسبش في اللغات)
android/** linguist-vendored
ios/** linguist-vendored
windows/** linguist-vendored
macos/** linguist-vendored
linux/** linguist-vendored
web/** linguist-vendored

# ركّز على Dart بس
*.dart linguist-detectable=true



